# This file should be edited and renamed to do-credentials.rb

module DO_CREDENTIALS
  # This is the path on your local host to the private key.
  PRIVATE_KEY_PATH = '~/.ssh/id_rsa'
  USERNAME = 'deployer'
  # These are for the API credentials you can get from
  # https://www.digitalocean.com/api_access
  CLIENT_ID = ''
  API_KEY = ''
end
